@using PortfolioMaster.Models.ViewModels;
@model CryptoAssetsViewModel
@{
    ViewData["Title"] = "Crypto Assets";
    var editButtonStyle = "btn btn-sm btn-primary";
    var deleteButtonStyle = "btn btn-sm btn-danger";
    decimal bitcoinPrice = ViewBag.BitcoinPrice;
    decimal ethereumPrice = ViewBag.EthereumPrice;

    decimal totalQuantity = Model.CryptoAssetsHoldings.Sum(group => group.Sum(h => h.AssetHoldings.Where(hh => hh.TransactionType == TransactionType.Purchase).Sum(hh => hh.Quantity) - h.AssetHoldings.Where(hh => hh.TransactionType == TransactionType.Sale).Sum(hh => hh.Quantity)));
    decimal totalPurchasePrice = Model.CryptoAssetsHoldings.Sum(group => group.Sum(h => h.AssetHoldings.Sum(hh => hh.TransactionType == TransactionType.Purchase ? hh.Price : -hh.Price)));
    decimal totalValue = Model.CryptoAssetsHoldings.Sum(group => group.Sum(h => h.TotalValue));
    decimal totalPL = totalValue - totalPurchasePrice;
    decimal totalPercentage = totalPurchasePrice != 0 ? (totalPL / totalPurchasePrice) * 100 : 0;
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Total Quantity</th>
                <th>Total Cashflow (USD)</th>
                <th>Current Price per Unit (USD)</th>
                <th>Total Value (USD)</th>
                <th style="color: @(totalPL < 0 ? "red" : "green")">P/L (USD)</th>
                <th style="color: @(totalPL < 0 ? "red" : "green")">P/L (%)</th>
            </tr>
        </thead>
        <tbody>
            @{
                var simpleAssetHoldingsList = Model.CryptoAssetsHoldings.SelectMany(holdingList => holdingList.Select(item => item.AssetHoldings.Select(h => new
                {
                    transactionDate = h.TransactionDate,
                    transactionType = h.TransactionType,
                    price = h.Price
                }).ToList()));
            }
            @foreach (var holdingList in Model.CryptoAssetsHoldings)
            {
                @foreach (var cryptoHolding in holdingList)
                {
                    @await Html.PartialAsync("_CryptoAssetTable", cryptoHolding)
                }
            }
        </tbody>
        <tfoot>
            <tr class="border-bottom bg-light font-weight-bold">
                <td>
                    <div>Total</div>
                </td>
                <td>@Html.DisplayFor(_ => totalQuantity)</td>
                <td>$@Html.DisplayFor(_ => totalPurchasePrice)</td>
                <td>n/a</td>
                <td>$@Html.DisplayFor(_ => totalValue)</td>
                <td style="color: @(totalPL < 0 ? "red" : "green");">$@Html.DisplayFor(_ => totalPL)</td>
                <td style="color: @(totalPercentage < 0 ? "red" : "green");">@totalPercentage.ToString("0.00")%</td>
            </tr>
        </tfoot>
    </table>

    <!-- Add the footnote with crypto prices -->
    <div>
        <p>
            <strong>Bitcoin Price per Unit:</strong> $@Html.DisplayFor(_ => bitcoinPrice)
        </p>
        <p>
            <strong>Ethereum Price per Unit:</strong> $@Html.DisplayFor(_ => ethereumPrice)
        </p>
    </div>
</div>
</br>
<h2>30 Day Action Graphs</h2>
@await Html.PartialAsync("_CryptoAssetGraphs", (Dictionary<CryptoAssetType, List<CryptoPriceHistory>>)ViewBag.CryptoPriceHistories)

@section Scripts {
    <script>
        function toggleRow(chevron) {
            const icon = chevron.querySelector(".chevron-icon");
            icon.classList.toggle("rotate");
        }
        function submitUpdate(id, name) {
            var changedName = document.getElementById('name-' + id).value;
            var interestRate = document.getElementById('interestRate-' + id).value;
            var totalValue = document.getElementById('totalValue-' + id).value;

            document.getElementById('hiddenId').value = id;
            document.getElementById('hiddenName').value = changedName;
            document.getElementById('hiddenInterestRate').value = interestRate;
            document.getElementById('hiddenTotalValue').value = totalValue;
            document.getElementById('hiddenAssetHoldings').value = {};
            document.getElementById('updateForm').submit();
        }
        function generateCumulativeContributionsChart(elementId, assetHoldings) {
            // Prepare data for the chart
            assetHoldings.sort((a, b) => new Date(a.transactionDate) - new Date(b.transactionDate));

            var dates = [];
            var cumulativeContributions = [];
            var cumulativeSum = 0;

            assetHoldings.forEach(assetHolding => {
                var date = new Date(assetHolding.transactionDate);
                var dateString = date.toLocaleDateString();

                if (!dates.includes(dateString)) {
                    dates.push(dateString);
                }

                if (assetHolding.transactionType === 0) {
                    cumulativeSum += assetHolding.price;
                } else {
                    cumulativeSum -= assetHolding.price;
                }

                cumulativeContributions.push(cumulativeSum);
            });

            // Create the chart
            var ctx = document.getElementById(elementId).getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Cumulative Contributions',
                        data: cumulativeContributions,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 2,
                        pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                        pointBorderColor: 'rgba(75, 192, 192, 1)'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Transaction Date'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Cumulative Contributions (USD)'
                            }
                        }
                    }
                }
            });
        }

        // Assigning Razor-generated values to JavaScript variables
        @{
            int index = 0;
            List<string> chartElementIds = new List<string>();
            List<string> assetHoldingsDataList = new List<string>();

            foreach (var holdingList in Model.CryptoAssetsHoldings)
            {
                foreach (var item in holdingList)
                {
                    var chartElementId = $"cumulativeContributionsChart-{item.Asset.Id}";
                    var assetHoldingsData = Json.Serialize(simpleAssetHoldingsList.ElementAt(index));

                    chartElementIds.Add(chartElementId);
                    assetHoldingsDataList.Add(assetHoldingsData.ToString());

                    index++;
                }
            }

            var bitcoinPriceHistory = Json.Serialize(ViewBag.CryptoPriceHistories[CryptoAssetType.Bitcoin]);
            var ethereumPriceHistory = Json.Serialize(ViewBag.CryptoPriceHistories[CryptoAssetType.Ethereum]);
            var chartElementIdsJson = Json.Serialize(chartElementIds);
            var assetHoldingsDataListJson = Json.Serialize(assetHoldingsDataList);
        }

            function generateCryptoPriceChart(elementId, priceHistory) {
                var labels = priceHistory.map(item => {
                    var date = new Date(item.date);
                    // Format the date string without time information
                    return date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
                });

                var data = priceHistory.map(item => item.price);

                var ctx = document.getElementById(elementId).getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Price (USD)',
                            data: data,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderWidth: 2,
                            pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                            pointBorderColor: 'rgba(75, 192, 192, 1)'
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Date'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Price (USD)'
                                }
                            }
                        }
                    }
                });
            }


        // The event listener to handle the chart generation
        document.addEventListener('DOMContentLoaded', function () {
            var chartElementIds = @chartElementIdsJson;
            var assetHoldingsDataList = @assetHoldingsDataListJson;

            for (var i = 0; i < chartElementIds.length; i++) {
                generateCumulativeContributionsChart(chartElementIds[i], JSON.parse(assetHoldingsDataList[i]));
            }

            var bitcoinPriceHistory = @bitcoinPriceHistory;
            var ethereumPriceHistory = @ethereumPriceHistory;

            generateCryptoPriceChart('cryptoPriceChart-0', bitcoinPriceHistory); // Use 0 for Bitcoin
            generateCryptoPriceChart('cryptoPriceChart-1', ethereumPriceHistory); // Use 1 for Ethereum
        });

    </script>
}


