@using PortfolioMaster.Models.ViewModels;
@model AssetHoldingsViewModel

</br>
<table id="assetHoldingsTable" class="table">
    <thead>
        <tr>
            <th>Asset Name</th>
            <th>Portfolio Name</th>
            <th>Total Quantity (Oz)</th>
            <th>Average Purchase Price (USD)</th>
            <th>Buy/Sell Diff (USD)</th>
            <th>Buy/Sell %</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GroupedAssetHoldings)
    {
        <tr>
            <td>@item.Asset.Name</td>
            <td>@item.Portfolio.Name</td>
            <td>@item.TotalQuantity</td>
            <td>@item.AveragePurchasePrice.ToString("C2")</td>
            <td>@item.BuySellDiff.ToString("C2")</td>
            <td>@item.BuySellPercentage.ToString("0.00") %</td>
        </tr>
    }
    </tbody>

</table>

