@using PortfolioMaster.Models.ViewModels;
@model AssetHoldingsViewModel

@{
    ViewData["Title"] = "Asset Holdings";
}

<h1>Asset Holdings</h1>

<table id="assetHoldingsTable" class="table">
    <thead>
        <tr>
            <th>Asset Name</th>
            <th>Portfolio Name</th>
            <th>Quantity (Oz)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AssetHoldings)
        {
            <tr>
                <td>@item.Asset.Name</td>
                <td>@item.Portfolio.Name</td>
                <td>@item.Quantity</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</br>
<form asp-controller="AssetHolding" asp-action="Create" method="get" class="d-flex align-items-center">
    <div class="me-2">
        <label for="assetId" class="form-label"><b>Add new Asset: </b></label>
    </div>
    <div class="me-2">
        <select name="assetId" id="assetId" class="form-select" style="max-width: 300px;">
            <option value="">-- Select Asset --</option>
            @foreach (var asset in Model.Assets)
            {
                <option value="@asset.Value">@asset.Text</option>
            }
        </select>
    </div>
    <button type="submit" id="addButton" class="btn btn-success" disabled><i class="fas fa-plus"></i> Add</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#assetHoldingsTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 10,
            });

            // Add event listener for asset selection
            $('#assetId').on('change', function () {
                var selectedAssetId = $(this).val();
                if (selectedAssetId) {
                    $('#addButton').removeAttr('disabled');
                } else {
                    $('#addButton').attr('disabled', 'disabled');
                }
            });
        });
    </script>
}
