@using PortfolioMaster.Models.ViewModels;
@model PreciousMetalsViewModel
@{
    ViewData["Title"] = "Precious Metals";
    var editButtonStyle = "btn btn-sm btn-primary";
    var deleteButtonStyle = "btn btn-sm btn-danger";
    decimal goldPrice = ViewBag.GoldPrice;
    decimal silverPrice = ViewBag.SilverPrice;

    decimal totalQuantity = Model.PreciousMetalsHoldings.Sum(group => group.Sum(h => h.AssetHoldings.Where(hh => hh.TransactionType == TransactionType.Purchase).Sum(hh => hh.Quantity) - h.AssetHoldings.Where(hh => hh.TransactionType == TransactionType.Sale).Sum(hh => hh.Quantity)));
    decimal totalPurchasePrice = Model.PreciousMetalsHoldings.Sum(group => group.Sum(h => h.AssetHoldings.Sum(hh => hh.TransactionType == TransactionType.Purchase ? hh.Price : -hh.Price)));
    decimal totalValue = Model.PreciousMetalsHoldings.Sum(group => group.Sum(h => h.TotalValue));
    decimal totalPL = totalValue - totalPurchasePrice;
    decimal totalPercentage = totalPurchasePrice != 0 ? (totalPL / totalPurchasePrice) * 100 : 0;
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Metal</th>
                <th>Total Quantity (Oz)</th>
                <th>Total Cashflow (USD)</th>
                <th>Current Price per Oz (USD)</th>
                <th>Total Value (USD)</th>
                <th style="color: @(totalPL < 0 ? "red" : "green")">P/L (USD)</th>
                <th style="color: @(totalPL < 0 ? "red" : "green")">P/L (%)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holdingList in Model.PreciousMetalsHoldings)
            {
                @foreach (var goldHolding in holdingList)
                {
                    @await Html.PartialAsync("_PreciousMetalTable", goldHolding)
                }
            }
        </tbody>
        <tfoot>
            <tr class="border-bottom bg-light font-weight-bold">
                <td>
                    <div>Total</div>
                </td>
                <td>@Html.DisplayFor(_ => totalQuantity)</td>
                <td>$@Html.DisplayFor(_ => totalPurchasePrice)</td>
                <td>n/a</td>
                <td>$@Html.DisplayFor(_ => totalValue)</td>
                <td style="color: @(totalPL < 0 ? "red" : "green");">$@Html.DisplayFor(_ => totalPL)</td>
                <td style="color: @(totalPercentage < 0 ? "red" : "green");">@totalPercentage.ToString("0.00")%</td>
            </tr>
        </tfoot>
    </table>

    <!-- Add the footnote with gold and silver prices -->
    <div>
        <p>
            <strong>Gold Price per Oz:</strong> $@Html.DisplayFor(_ => goldPrice)
        </p>
        <p>
            <strong>Silver Price per Oz:</strong> $@Html.DisplayFor(_ => silverPrice)
        </p>
    </div>
</div>

